
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:black !important;
}

.navbar-brand{
  color: black !important;
}

h1{
  font-size: 20px !important;
}

.img-fluid{
  height: 200px !important;
  width: 200px !important;
}


.flex-container{
  display: flex !important;
}

.btn{
  background-color: red !important;
  color: white !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

.m-7{
  margin: 70px;
}

.fa-plus{
  color: green;
  margin: 5px;
}

.fa-minus{
  color: red;
  margin: 5px;
}

.fa-trash{
  color:red;
}

input {
  margin-top: 10px !important;
  box-shadow: none !important;

}